<ion-modal-view cache-view="false">
    <ion-header-bar>
        <h1 class="title">根据资料重设密码</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeResetPswModal()">
                取消
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="">
            <div class="list">
                <label class="item item-input"> <span class="input-label">昵称</span>
                    <input type="text" ng-model="loginData.username">
                </label>
                <label class="item item-input"> <span class="input-label">密码</span>
                    <input type="password" ng-model="loginData.password">
                </label>

                <label class="item">
                    <button class="button button-block button-positive" type="submit">
                        提交
                    </button>
				</label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
